#####################################
##  Rackspace cloud configuration  ##
#####################################

CLOUD_PROVIDER=linode

# Short, or internal, name is the name of this file without extension.
# Below is a long name that appears in reports, alerts and web interface
CLOUD_NAME="Rackspace Cloud"

LIN_AUTH_USER=
LIN_AUTH_KEY=
LIN_APIURL="https://api.linode.com"

# Root disk FS type (ext3, ext4)
ROOTFS=ext4
# Swap disk size. Available options:
# 1. Empty or not defined means no swap partition.
# 2. "2xRAM" means that swap partition size will be calculated as
#    2 x available RAM.
# 3. Number (no letters!) means size in Megabytes.

# Public IP (create if "yes")
PUBLIC_IP=yes
# Private IP (create if "yes")
PRIVATE_IP=

####################
## Common options ##
####################

# Network used for communication with this cloud. Possible values:
# internal (private IP ranges: 192.168.x.x, 10.x.x.x, 172.16.x.x - 172.31.x.x)
# external
# Default: internal
NETWORK=

# In case you are using non-standard SSH port
SSHPORT=

# Connect timeout (SSH default if not set)
CONNECT_TIMEOUT=5

# Length of the index part in server names (e.g. app001)
# It does not limit available numbers, so if it is set to 3, after 999 still
# will be 1000 :)
NAME_INDEX_LENGTH=3

# What is to be used as server name for servers list. Also available as command
# line option --name_source
# host - real hostname (default, slower)
# metadata - gets the name from server metadata via API
# dnsName - public DNS name in case of EC2; metadata source above uses private
#           DNS name
# tag:tagname - specific tag in metadata; tagname defines the name of the tag
# NAME_SOURCE=

# What source of server name to be used as a fallback in case default source
# fails to return anything or returns empty string (see the sources list above).
# Default is "metadata".
# NAME_SOURCE_FALLBACK=

# Some functions don't call API each time they need the servers list, using
# existing tmp file instead. This variable sets the maximal age of this file
# in seconds. If this file is too old, it will be updated forcefully.
# There is no default, so if this is unset or empty, the feature is disabled.
FORCE_LIST_UPDATE_AFTER=1800

# tag name to define cluster (default: "cluster")
# CLUSTER_TAG=

