body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
  background-color: white;
  padding: 0px;
  margin: 0px;
  color: #333;
}

p {
  padding: 2px;
  font-size: 11px;
  margin-left: 5px;
  margin-right: 5px;
  color: #333;
}

h4{
  font-size: 11px;
  color: #333;
  text-align: center;
  margin: 5px;
}

div {
  color: #333;
}

span {
  font-size: 11px;
  color: #666;
}

img {
  border: none;
}

div.dhtmlmenu {
  position: absolute;
  font-size: 9px;
  left: 0px;
  top: 22px;
  width: 460px;
  text-align: left;
  border: 2px solid silver;
  padding: 2px;
  color: #321;
  background: #fff;
  z-index: 100;
}

div.dhtmlmenu div {
  margin: 2px 8px 2px 8px;
}

.menu_input_text{
  width: 140px;
  font-size: 8px;
  margin: 2px 8px 2px 8px;
}

div.menuitem {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 2px;
}

div.hormenu {
  position: absolute;
  left: 5px;
  top: 134px;
  display: table;
  width: 1000px;
  height: 20px;
  background-color: #bbb;
  clear: both;
  color: #333;
}

div.hormenu a {
  color: yellow;
}

#hnav, #hnav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#hnav a {
	display: block;
	width: 10em;
	color: yellow;
}

#hnav a:hover {
  color: #6f6;
}

#hnav li {
	float: left;
	width: 10em;
	padding: 2px;
	margin: 0px;
	list-style: none;
	text-align: center;
}

#hnav li:hover {
	background-color: #b59367;
}

#hnav li:hover a {
	color: #ff8;
}

#hnav li:active a {
	color: #af8;
}

#hnav li ul {
  padding: 0;
  margin: 0;
  display: table;
	position: absolute;
	width: 10em;
	left: -999em;
}

#hnav li:hover ul, #hnav li.sfhover ul {
	left: auto;
	color: #a58357;
	background-color: #ffa;
	list-style: none;
	border: 1px solid #a58357; 
	clear: left;
	display: table;
	width: 6em;
}

#hnav li:hover ul a, #hnav li.sfhover ul a {
  color: #a58357;
}

#hnav li:hover ul li:hover, #hnav li.sfhover ul li:hover {
  background-color: #ffc;
}

input[type="text"], input[type="password"] {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

input[disabled='disabled'] {
  border-style: none;
  background-color: #fff;
}

input[type="file"] {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

.upload {
  width: 20px;
  background-color: yellow;
}

textarea {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

input[type="button"], input[type="submit"] {
	color: #662;
	border-style: outset;
	border-width: 2px;
	border-color: #eeeed0;
	background-color: #e0e0d0;
	font-weight: bold;
	font-size: 8px;
}

select {
	color: #321;
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	background-color: #fff;
}

input:hover[type="button"], input:hover[type="submit"] { 
  color: #993;
  background-color: #ff8;
  border-color: #ffa;
}

pre {
  padding: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
}

a { 
  color: #444; 
  text-decoration: none;
  font-weight: bold;
}

a:hover { color: #363; }
a:active { color: #393; }

#res:hover { background-color: #fafafa; }

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid #999;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

#result {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8px;
}

.ok {
  background-color: green;
}

.w1 {
  background-color: brown;
}

.w2 {
  background-color: orange;
}

.w3 {
  background-color: red;
}

.info_ok {
  color: green;
}

.info_w1 {
  color: brown;
}

.info_w2 {
  color: orange;
}

.info_w3 {
  color: red;
}

.tabletitle {
  font-weight: bold;
}

.tablerow_ok {
  color: green;
}

.tablerow_w1 {
  color: brown;
}

.tablerow_w2 {
  color: orange;
}

.tablerow_w3 {
  color: red;
}

.chunk {
  width: 10px;
  height: 20px;
  margin-right: 1px;
  float: left;
}

.cluster {
  width: 800px;
  display: table;
  background-color: #fbfbfb; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f2f2f2'); /* for IE */
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#fbfbfb)); /* for webkit browsers */
  background: -moz-linear-gradient(bottom,  #f2f2f2,  #fbfbfb); /* for firefox 3.6+ */ 
  padding: 10px 0px 10px 0px;
}

.dashtitle {
  width: 800px;
  display: table;
}

.server {
  width: 774px;
  height: 20px;
  margin: 3px;
  padding-left: 20px;
  float: right;
  display: table;
  cursor: pointer;
}

.clustername {
  width: 794px;
  height: 26px;
  padding: 7px 0px 5px 6px;
  font-weight: bold;
  font-size: 14px;
  background-color: #fbfbfb;
  display: table;
}

.servername {
  height: 20px;
  width: 180px;
  margin-left: 5px;
  padding: auto;
  font-weight: bold;
  float: left;
}

td {
  width: 25%;
}

div.info {
  width: 100%;
  height: 13px;
  display: table;
}

div.left {
  width: 25%;
  float: left;
  display: table;
}

div.right {
  width: 65%;
  float: right;
  display: table;
}

#messages {
  font-size: 14px;
  height: 52px;
  width: 100%;
  font-weight: bold;
  color: #f88;
  display: table;
}
#header {
  display: table;
  width: 100%;
  height: 100px;
  background: #404040;
}

#menu {
  display: table;
  height: 20px;
  width: 100%;
  float: left;
  background-color: #404040;
}

#tabs {
  display: table;
  height: 28px;
  width: 100%;
  float: left;
}

.pageline {
  height: 1px;
  width: 800px;
  background-color: silver;
}

.tab {
  height: 26px;
  font-size: 14px;
  font-weight: bold;
  background-color: #fbfbfb;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
}

.active {
  background-color: #fff;
}

#tabs ul#tabnav {
  text-align: left;
  list-style-type: none;
  height: 26px;
  padding: 0px;
  margin: 0px;
}

#tabs ul#tabnav li {
  display: inline-block;
  padding: 2px 5px 0px 5px;
  margin-left: 20px;
}



