body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
  background-color: white;
  padding: 0px;
  margin: 0px;
  color: #321;
}

p {
  padding: 2px;
  font-size: 11px;
  margin-left: 5px;
  margin-right: 5px;
  color: #321;
}

h4{
  font-size: 11px;
  color: #321;
  text-align: center;
  margin: 5px;
}

div {
  color: #444;
}

span {
  font-size: 11px;
  color: #221;
}

img {
  border: none;
}

div.dhtmlmenu {
  position: absolute;
  font-size: 9px;
  left: 0px;
  top: 22px;
  width: 160px;
  text-align: left;
  border: 2px solid silver;
  padding: 2px;
  color: #321;
  background: #fff;
  z-index: 100;
}

div.dhtmlmenu div {
  margin: 2px 8px 2px 8px;
}

.menu_input_text{
  width: 140px;
  font-size: 8px;
  margin: 2px 8px 2px 8px;
}

div.menuitem {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 2px;
}

#header {
  display: table;
  width: 100%;
  height: 100px;
  background: #404040;
}

#menu {
  display: table;
  height: 77px;
  width: 100%;
  float: left;
  background-color: #404040;
}

#tabs {
  display: table;
  height: 26px;
  width: 100%;
  float: left;
}

#location_bar {
  display: table;
  height: 26px;
  float: left;
}

div.hormenu {
  position: absolute;
  left: 5px;
  top: 134px;
  display: table;
  width: 1000px;
  height: 20px;
  background-color: #bbb;
  clear: both;
  color: #333;
}

div.hormenu a {
  color: yellow;
}

#hnav, #hnav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#hnav a {
	display: block;
	width: 10em;
	color: yellow;
}

#hnav a:hover {
  color: #ff6;
}

#hnav li {
	float: left;
	width: 10em;
	padding: 2px;
	margin: 0px;
	list-style: none;
	text-align: center;
}

#hnav li:hover {
	background-color: #b59367;
}

#hnav li:hover a {
	color: #ff8;
}

#hnav li:active a {
	color: #af8;
}

#hnav li ul {
  padding: 0;
  margin: 0;
  display: table;
	position: absolute;
	width: 10em;
	left: -999em;
}

#hnav li:hover ul, #hnav li.sfhover ul {
	left: auto;
	color: #a58357;
	background-color: #ffa;
	list-style: none;
	border: 1px solid #a58357; 
	clear: left;
	display: table;
	width: 6em;
}

#hnav li:hover ul a, #hnav li.sfhover ul a {
  color: #a58357;
}

#hnav li:hover ul li:hover, #hnav li.sfhover ul li:hover {
  background-color: #ffc;
}

input[type="text"], input[type="password"] {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

input[disabled='disabled'] {
  border-style: none;
  background-color: #fff;
}

input[type="file"] {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

.upload {
  width: 20px;
  background-color: yellow;
}

textarea {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

input[type="button"], input[type="submit"] {
	color: #662;
	border-style: outset;
	border-width: 2px;
	border-color: #eeeed0;
	background-color: #e0e0d0;
	font-weight: bold;
	font-size: 8px;
}

select {
	color: #321;
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	background-color: #fff;
}

input:hover[type="button"], input:hover[type="submit"] { 
  color: #993;
  background-color: #ff8;
  border-color: #ffa;
}

pre {
  padding: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
}

a { 
  color: #220; 
  text-decoration: none;
  font-weight: bold;
}

a:hover { color: #771; }
a:active { color: #d83; }

#res:hover { background-color: #fafafa; }

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid #999;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

#result {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8px;
}

.ok {
  background-color: green;
  width: 10px;
  height: 20px;
  margin-right: 1px;
  float: left;
}

.w1 {
  background-color: brown;
  width: 10px;
  height: 20px;
  margin-right: 1px;
  float: left;
}

.w2 {
  background-color: orange;
  width: 10px;
  height: 20px;
  margin-right: 1px;
  float: left;
}

.w3 {
  background-color: red;
  width: 10px;
  height: 20px;
  margin-right: 1px;
  float: left;
}

.cluster {
  width: 800px;

}

.server {
  width: 800px;
  height: 20px;
  margin: 5px;
  display: table;
  cursor: pointer;
}

.clustername {
  width: 800px;
  height: 30px;
  padding: 5px 0px 5px 20px;
  font-weight: bold;
  font-size: 14px;
}

.servername {
  height: 20px;
  margin: 5px;
  font-weight: bold;
  float: left;
}

