body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
  background-color: white;
  padding: 0px;
  margin: 0px;
  color: #333;
}

p {
  padding: 2px;
  font-size: 11px;
  margin-left: 5px;
  margin-right: 5px;
  color: #333;
}

h4{
  font-size: 11px;
  color: #333;
  text-align: center;
  margin: 5px;
}

div {
  color: #333;
}

img {
  border: none;
}

div.dhtmlmenu {
  position: absolute;
  display: table;
  font-size: 9px;
  left: 10px;
  top: 10px;
  width: 560px;
  text-align: left;
  border: 2px solid silver;
  padding: 2px;
  color: #321;
  background: #fff;
  z-index: 100;
}

div.dhtmlmenu div {
  margin: 2px 8px 2px 8px;
}

.menu_input_text{
  width: 140px;
  font-size: 8px;
  margin: 2px 8px 2px 8px;
}

div.menuitem {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 2px;
}

div.hormenu {
  position: absolute;
  left: 5px;
  top: 134px;
  display: table;
  width: 1000px;
  height: 20px;
  background-color: #bbb;
  clear: both;
  color: #333;
}

div.hormenu a {
  color: yellow;
}

#hnav, #hnav ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#hnav a {
	display: block;
	width: 10em;
	color: yellow;
}

#hnav a:hover {
  color: #6f6;
}

#hnav li {
	float: left;
	width: 10em;
	padding: 2px;
	margin: 0px;
	list-style: none;
	text-align: center;
}

#hnav li:hover {
	background-color: #b59367;
}

#hnav li:hover a {
	color: #ff8;
}

#hnav li:active a {
	color: #af8;
}

#hnav li ul {
  padding: 0;
  margin: 0;
  display: table;
	position: absolute;
	width: 10em;
	left: -999em;
}

#hnav li:hover ul, #hnav li.sfhover ul {
	left: auto;
	color: #a58357;
	background-color: #ffa;
	list-style: none;
	border: 1px solid #a58357; 
	clear: left;
	display: table;
	width: 6em;
}

#hnav li:hover ul a, #hnav li.sfhover ul a {
  color: #a58357;
}

#hnav li:hover ul li:hover, #hnav li.sfhover ul li:hover {
  background-color: #ffc;
}

input[type="text"], input[type="password"] {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

input[disabled='disabled'] {
  border-style: none;
  background-color: #fff;
}

input[type="file"] {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

.upload {
  width: 20px;
  background-color: yellow;
}

textarea {
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	color: #321;
	padding-left: 2px;
}

input[type="button"], input[type="submit"] {
	color: #662;
	border-style: outset;
	border-width: 2px;
	border-color: #eeeed0;
	background-color: #e0e0d0;
	font-weight: bold;
	font-size: 8px;
}

select {
	color: #321;
	border-style: ridge;
	border-width: 1px;
	border-color: #321;
	background-color: #fff;
}

input:hover[type="button"], input:hover[type="submit"] { 
  color: #993;
  background-color: #ff8;
  border-color: #ffa;
}

pre {
  overflow: auto;
}

a { 
  color: #444; 
  text-decoration: none;
  font-weight: bold;
}

a:hover { color: #363; }
a:active { color: #393; }

#res:hover { background-color: #fafafa; }

#result {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 8px;
}

#content {
  width: 800px;
  display: table;
  margin-bottom: 50px;
}

span.indent {
  margin-left: 6px;
  width: 209px;
  font-size: inherit;
  font-weight: inherit;
  float: left;
  color: #777777;
}

.clusterstatus {
  width: 88px;
  height: 24px;
  text-align: center;
  float: left;
  font-family: arial,helvetica,sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin-top: 3px;
  color: #777777;
  border-right: 1px solid #fcfcfc;
  overflow: hidden;
}

.ok {
  background-color: green;
}

.w1 {
  background-color: #A80;
}

.w2 {
  background-color: #F70;
}

.w3 {
  background-color: red;
}

.okmarked {
  background-color: green;
  width: 8px !important;
  height: 16px !important;
  border: 1px solid blue;
}

.w1marked {
  background-color: #A80;
  width: 8px !important;
  height: 16px !important;
  border: 1px solid blue;
}

.w2marked {
  background-color: #F70;
  width: 8px !important;
  height: 16px !important;
  border: 1px solid blue;
}

.w3marked {
  background-color: red;
  width: 8px !important;
  height: 16px !important;
  border: 1px solid blue;
}

.info_ok {
  color: green;
}

.info_w1 {
  color: #A80;
}

.info_w2 {
  color: #F70;
}

.info_w3 {
  color: red;
}

.tabletitle {
  font-weight: bold;
  height: 26px;
}

.tablerow {
  font-weight: normal;
  height: 20px;
}

.tablerow_ok {
  background-color: #EFE;
}

.tablerow_w1 {
  background-color: #FEC;
}

.tablerow_w2 {
  background-color: #FED;
}

.tablerow_w3 {
  background-color: #FEE;
}

.chunk {
  width: 10px;
  height: 18px;
  margin: 1px 1px 1px 0px;
  float: left;
  cursor: pointer;
}

.empty {
  background-color: #dadada;
}

.timeline {
  border-bottom: 1px solid #cacaca;
}

.hour {
  border-bottom: 1px solid #333333;
}
.cluster {
  width: 800px;
  display: table;
  padding: 6px 0px 0px 0px;
}

.dashtitle {
  width: 800px;
  height: 25px;
  margin-top: 5px;
}

#views {
  width: 800px;
  display: table;
  height: 40px;
  margin-top: 5px;
  background-color: #ddd;
  border: 1px solid #ddd;
}

#views ul#viewsnav {
  text-align: left;
  list-style-type: none;
  height: 30px;
  margin: 5px;
  padding: 0px;
}


.viewsbutton {
  border: 1px solid #888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ddd;
  margin: 3px 0px 3px 8px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 6px 3px 6px;
}

.viewsbutton:hover {
  color: #363;
  cursor: pointer;
}

.viewsbutton:active {
  color: #393;
}

.server {
  display: table;
  width: 800px;
  height: 20px;
  float: left;
  display: table;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0');
  background: -webkit-gradient(linear, left bottom, left top, from(#fcfcfc), to(#f0f0f0));
  background: -moz-linear-gradient(bottom,  #fcfcfc,  #f0f0f0)
}

.hilited {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c0c0', endColorstr='#dadada');
  background: -webkit-gradient(linear, left bottom, left top, from(#c0c0c0), to(#dadada));
  background: -moz-linear-gradient(bottom,  #dcdcdc,  #eaeaea)
}

.clustername {
  width: 800px;
  height: 25px;
  padding: 2px 0px 2px 0px;
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 14px;
  background-color: #dadada; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#f2f2f2'); /* for IE */
  background: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#dadada)); /* for webkit browsers */
  background: -moz-linear-gradient(bottom,  #f2f2f2,  #dadada); /* for firefox 3.6+ */
  display: table;
}

.servername {
  height: 16px;
  width: 190px;
  margin-left: 25px;
  padding: 2px 0px;
  font-weight: bold;
  float: left;
  color: #555;
}

.combinedgraph_left {
  width: 80px;
  height: 300px;
  margin-left: 25px;
  float: left;
}

.combinedgraph {
  width: 775px;
  height: 300px;
  margin-left: 25px;
  float: left;
}

.status {
  width: 94px;
  height: 100%;
  padding: 2px 0px;
  text-align: center;
  float: left;
  font-size: 10px;
  word-wrap: break-word;
  color: #777777;
  display: inline-block;
  border-right: 2px solid white;
}

.clustername .status {
  width: 96px;
  border-right: none;
}

.status_short {
  width: 44px;
}

.clustername .status_short {
  width: 46px;
  border-right: none;
  height: 100%;
  padding: 2px 0px;
  text-align: center;
  float: left;
  font-size: 10px;
  word-wrap: break-word;
  color: #777777;
  display: inline-block;
}

.server .status_short {
  width: 46px;
  border-right: none;
  height: 100%;
  padding: 2px 0px;
  text-align: center;
  float: left;
  font-size: 10px;
  word-wrap: break-word;
  color: #777777;
  display: inline-block;
}

.statusok {
  background-color: #f8fff8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0ffe0', endColorstr='#fafffa'); 
  background: -webkit-gradient(linear, left bottom, left top, from(#fafffa), to(#e0ffe0)); 
  background: -moz-linear-gradient(bottom,  #fafffa,  #e0ffe0)
}

.statuserr {
  background-color: #fff8f8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0', endColorstr='#fffafa');
  background: -webkit-gradient(linear, left bottom, left top, from(#fffafa), to(#fff0f0));
  background: -moz-linear-gradient(bottom,  #fffafa,  #fff0f0)
}

.details {
  display: none;
  width: 800px;
  margin: 3px 0px;
  float: left;
}

td {
  width: 25%;
}

div.info {
  width: 100%;
  height: 13px;
  display: table;
}

div.left {
  width: 35%;
  float: left;
  display: table;
  font-weight: normal;
  color: #321;
  margin: 0px !important;
}

div.right {
  width: 55%;
  float: right;
  display: table;
  font-weight: normal;
  color: #321;
  margin: 0px !important;
}

#messages {
  font-size: 10px;
  height: 52px;
  width: 100%;
  font-weight: bold;
  color: #f88;
  display: table;
}
#header {
  display: table;
  width: 100%;
  height: 100px;
  background: #404040;
}

#menu {
  display: table;
  height: 20px;
  width: 100%;
  float: left;
  background-color: #404040;
}

#tabs {
  display: table;
  height: 28px;
  width: 100%;
  float: left;
  padding-left: 10px;
}

.pageline {
  height: 1px;
  width: 800px;
  background-color: silver;
}

.tab {
  height: 26px;
  font-size: 14px;
  font-weight: bold;
  background-color: #a0a0a0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  cursor: pointer;
}

.tab:hover {
  color: #363;
}

.tab:active {
  color: #393;
}

.active {
  background-color: #fff;
}

#tabs ul#tabnav {
  text-align: left;
  list-style-type: none;
  height: 28px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#tabs ul#tabnav li {
  display: inline-block;
  padding: 2px 5px 0px 5px;
  margin-left: 2px;
}

.masterM {
  color: red;
  float: right;
  margin-left: 10px;
}

.slaveS {
  color: blue;
  float: right;
  margin-left: 10px;
}

.slaveSH {
  color: #8080FF;
  float: right;
  margin-left: 10px;
}

.slaveSD {
  color: #B080FF;
  float: right;
  margin-left: 10px;
}

.arbiterA {
  color: gray;
  float: right;
  margin-left: 10px;
}

.roleerror {
  background-color: #ff8888;
}

.colltype {
  border: 1px solid silver;
  width: 16px;
  height: 100%;
}

div.json {
  margin-left: 20px;
}
span.json {
  margin-right: 20px;
}
span.name {
  font-weight: bold;
}
span.value {
  color: blue;
}

.indline {
  width: 800px;
  height: 16px;
  float: left;
  display: table;
}

.red_thin_ind {
  height: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #c55;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc5555', endColorstr='#993333');
  background: -webkit-gradient(linear, left bottom, left top, from(#993333), to(#cc5555));
  background: -moz-linear-gradient(bottom,  #993333,  #CC5555)
}

.blue_thin_ind {
  height: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #779;
  float: left;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5555CC', endColorstr='#333399');
  background: -webkit-gradient(linear, left bottom, left top, from(#333399), to(#5555CC));
  background: -moz-linear-gradient(bottom,  #333399,  #5555CC)
}

.green_thin_ind {
  height: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #797;
  float: left;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55CC55', endColorstr='#339933');
  background: -webkit-gradient(linear, left bottom, left top, from(#339933), to(#55CC55));
  background: -moz-linear-gradient(bottom,  #339933,  #55CC55)
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: black;
}

/* Table */

div.tr {
  height: 2em;
  width: 100%;
  display: table;
  background-color: #f2f2f2;
  margin: 0 0 2px 0;
}

div.td1 {
  height: 2em;
  width: 40%;
  float: left;
  margin: 0 2px 0 2px;
  background-color: #fbfbfb;
  padding: 0 2px 0 4px;
}

div.td2 {
  height: 2em;
  width: 40%;
  float: left;
  margin: 0 2px 0 2px;
  background-color: #fbfbfb;
  padding: 0 2px 0 4px;
}









